* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter";
  user-select: none;
}

:root {
  --height: calc(100vh - calc(100vh - 100%));
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: #222;
  background-image: url(./assets/icons/spinner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--height);
  position: fixed;
  left: 0px;
  top: 0px;
}

#app {
  display: none;
  width: 100vw;
  height: var(--height);
  background-color: #222;
}

#app[data-ready] {
  display: flex;
}

.editor {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#canvas {
  max-width: 90%;
  max-height: 80vh;
}

#select {
  max-width: 90%;
  max-height: 80vh;
  position: absolute;
  cursor: crosshair;
}

#output {
  max-width: 280px;
  max-height: 160px;
  position: absolute;
}

#canvas,
#output {
  background-image: url(./assets/images/editor/transparent.svg);
  background-position: left top;
  background-size: 20px 20px;
  box-shadow: 5px 5px 15px #0005;
}

.options {
  width: 300px;
  background-color: #1e1e1e;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.option-title {
  line-height: 40px;
  background-color: #fff1;
  color: #888;
  padding: 0px 15px;
}

.option-set {
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 10px;
}

.option-row {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
}

.option label {
  font-size: 13px;
  line-height: 15px;
  padding: 0px 0px 5px 5px;
  color: #666;
}

.option input {
  width: calc(100% - 20px);
  border: 1px solid #777;
  background-color: #333;
  padding: 0px 5px;
  height: 24px;
  color: #999;
  margin: auto;
}

.option input::-webkit-outer-spin-button,
.option input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.option-out {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}