<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- avoid indexing -->
  <meta name="robots" content="noindex, nofollow">
  <!-- redirection -->
  <meta http-equiv="refresh" content="0; URL=https://deshan.lk/apps/image-crop-tool">
  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/images/logo.png" type="image/png">
  <!-- fonts -->
  <link rel="stylesheet" href="./assets/fonts/fonts.css">
  <!-- preload : fonts -->
  <link rel="preload" href="./assets/fonts/Inter/Inter-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
  <!-- preload : images -->
  <link rel="preload" href="./assets/icons/spinner.svg" as="image" type="image/svg+xml">
  <link rel="preload" href="./assets/images/editor/transparent.svg" as="image" type="image/svg+xml">
  <!-- style -->
  <link rel="stylesheet" href="./index.css">
  <!-- libraries -->
  <script src="./assets/libraries/vue.min.js"></script>
  <!-- script -->
  <script src="./index.js" type="module" defer></script>
  <!-- page title -->
  <title>Image Crop Tool</title>
</head>

<body>
  <!-- app root -->
  <div id="app" :data-ready="true">
    <!-- editor canvases -->
    <div class="editor">
      <canvas ref="canvas" width="600" height="450" id="canvas"></canvas>
      <canvas ref="select" width="600" height="450" id="select"></canvas>
    </div>
    <!-- options -->
    <div class="options">
      <!-- crop options -->
      <div class="option-title">
        Crop
      </div>
      <fieldset class="option-set" @keydown="onInput" @keydown="onInput">
        <div class="option-row">
          <div class="option">
            <label for="crop-x">X</label>
            <input type="number" id="crop-x" @blur="setSelection" v-model="crop.x">
          </div>
          <div class="option">
            <label for="crop-y">Y</label>
            <input type="number" id="crop-y" @blur="setSelection" v-model="crop.y">
          </div>
        </div>
        <div class="option-row">
          <div class="option">
            <label for="crop-w">Width</label>
            <input type="number" id="crop-w" @blur="setSelection" v-model="crop.width">
          </div>
          <div class="option">
            <label for="crop-h">Height</label>
            <input type="number" id="crop-h" @blur="setSelection" v-model="crop.height">
          </div>
        </div>
      </fieldset>
      <!-- preview canvas -->
      <div class="preview">
        <canvas ref="preview" width="600" height="450" id="preview"></canvas>
      </div>
      <!-- resize options -->
      <div class="option-title">
        Resize
      </div>
      <fieldset class="option-set">
        <div class="option-row">
          <div class="option">
            <label for="resize-w">Width</label>
            <input type="number" id="resize-w" v-model="resize.width" @keyup="setResize('width')">
          </div>
          <div class="option">
            <label for="resize-h">Height</label>
            <input type="number" id="resize-h" v-model="resize.height" @keyup="setResize('height')">
          </div>
        </div>
      </fieldset>
      <!-- download button -->
      <button class="button" @click="download" :disabled="loading">
        {{loading ? "Please wait..." : "Download"}}
      </button>
    </div>
    <!-- open button -->
    <button class="button open" @click="openFile">
      Open an Image
    </button>
  </div>
</body>

</html>